@font-face {
	font-family: 'ubuntu';
	src:url('/fonts/ubuntu.woff2') format('woff2'),
		url('/fonts/ubuntu.woff') format('woff'),
		url('/fonts/ubuntu.ttf') format('truetype');
}
@font-face {
	font-family: 'ubuntu-mono';
	src:url('/fonts/ubuntu-mono.woff2') format('woff2'),
		url('/fonts/ubuntu-mono.woff') format('woff'),
		url('/fonts/ubuntu-mono.ttf') format('truetype');
}

body {
	font-family: 'ubuntu', sans-serif;
}
h1, h2, h3, h4, h5 {
	font-family: 'ubuntu-mono', sans-serif;
}
.half-rule { 
    margin-left: 0;
    text-align: left;
    width: 50%;
 }