/* Font Declarations */

@font-face {
	font-family: 'patua';
	src:url('/fonts/patua.woff2') format('woff2'),
		url('/fonts/patua.woff') format('woff'),
		url('/fonts/patua.ttf') format('truetype');
}
@font-face {
	font-family: 'roboto';
	src:url('/fonts/roboto.woff2') format('woff2'),
		url('/fonts/roboto.woff') format('woff'),
		url('/fonts/roboto.ttf') format('truetype');
}

/* Default Elements */

body {
	background-color: #323232;
	font-family: 'patua', sans-serif;
	font-size: 18px;
	line-height: 1.4;
}
hr {
	border-top: 3px solid #424242;
	border-bottom: 2px solid #242424;
	width: 100%;
}
h1, h2, h3, h4, h5 {
	color: #DDD;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small {
	color: #999;
}
p {
	color: #777;
}
a {
	color: #7B4FF9;
}
a:hover, a:active {
	color: #B187FA;
}
a:visited {
	color: #AAA;
}
li {
	color: #999;
}

/* Body */

.page-header {
	border: none;
	padding-bottom: 0px;
    margin: 40px 0 0;
}
.page-header h1 {
	float: left;
	padding-right: 560px;
	color: #DDD;
	}
.page-header h1:hover {
	color: #B187FA;
	}
.page-header span {
	font-size: 24px;
}
.nav-tabs {
	display: inline-flex;
	border: none;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
	color: #DDD;
    border: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
.nav-tabs>li>a:hover, .nav-tabs>li>a:focus, .nav>li>a:hover, .nav>li>a:focus {
    color: #B187FA;
    background-color: #424242;
    border: none;
}
.breadcrumb {
	background-color: #424242;
}
.jumbotron {
	padding-top: 16px;
	padding-bottom: 16px;
    background-color: #424242;
	box-shadow: 0 4px 8px #222;
}
.jumbotron p {
	font-family: 'roboto', sans-serif;
	color: #888;
}
.panel {
	border: none;
	box-shadow: 0 4px 8px #222;
}
.panel-body {
	padding: 32px;
	background-color: #424242;
}
.panel-body p {
	font-family: 'roboto', sans-serif;
	color: #888;
}
.panel-body a {
	color: #DDD;
}

/* Previews */

.thumbnail {
	background-color: #424242;
	border: 1px solid #424242;
	box-shadow: 0 4px 8px #222;
}
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    border-color: #424242;
}
.embed-responsive video {
	border: 5px solid #424242;
	border-radius: 4px;
}
.caption h1, h2, h3, h4, h5 {
	margin: 5px 0 5px 0;
}
.caption p {
	margin: 5px 0 5px 0;
	font-family: 'roboto', sans-serif;
	color: #888;
}
.caption a {
	font-family: 'roboto', sans-serif;
	color: #606060;
	text-shadow: 0 2px 0 rgba(0,0,0,.1);
}
.caption a:hover, a:active, a:active:hover {
	color: #999;
	text-shadow: none;
}
.art {
	max-width:24rem;
	}

/* Buttons */

.btn, .btn:visited, .btn:hover, .btn:focus, .btn:active {
    padding: 8px 12px;
    border: 0 none;
	color: #FFF;
}
.btn-default {
    background: #999;
	color: #FFF;
	box-shadow: 0 3px 0 0 #606060;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .btn-default:active:hover {
    background: #DDD;
	color: #424242;
	box-shadow: 0 3px 0 0 #999;
}
.btn-success {
    background: #7B4FF9;
	color: #FFF;
	box-shadow: 0 3px 0 0 #620EE3;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success:active:hover {
    background: #B187FA;
	color: #4B1C87;
	box-shadow: 0 3px 0 0 #7B4FF9;
}