@font-face {
	font-family: 'ubuntu-mono';
	src:url('ubuntu-mono.woff2') format('woff2'),
		url('ubuntu-mono.woff') format('woff'),
		url('ubuntu-mono.ttf') format('truetype');
}

body {
	font-family: 'ubuntu-mono', sans-serif;
}