<!doctype html>
<html class="no-js" lang="">
    $HEADER
    <body>
        <div class="container">
            $NAV
            $BREADCRUMB
        </div>
        <div class="jumbotron">
            <div class="container">
                <h2>$TITLE</h2>
                $LONGDESC
				$HTML5BUTTON
				$WINDOWSBUTTON
                $SOURCEBUTTON
            </div>
        </div>
		<div class="container">
            <h1><small>GFY Previews</small></h1>
			$WEBM
		</div>
		<div class="container">
			<h1><small>Screenshots</small></h1>
			$THUMB
		</div>
        $FOOTER
    </body>
</html>