<!doctype html>
<html class="no-js" lang="">
    $HEADER
	<body>
		<div class="container">
			$NAV
		</div>
		<div class="jumbotron">
			<div class="container">
				<h2>Welcome!</h2>
				<p>Thanks for stopping by, have a look around! There's a growing showcase of my game development endeavors, as well as a collection of music that I have produced. You can think of this as a sort of portfolio, but mostly it's just a personal project that keeps me organized.</p>
			</div>
		</div>
		<div class="container">
			$POST1
			$POST2
			$POST3
		</div>
		$FOOTER
	</body>
</html>