<!doctype html>
<html class="no-js" lang="">
    $HEADER
	<body>
		<div class="container">
			$NAV
		</div>
		<div class="jumbotron">
			<div class="container">
				<h2>Contact</h2><br>
				<p>You can reach me at <a href="#">kbjwes77@gmail.com</a>! If you're looking for a faster response you can direct message me on my personal Twitter</p>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<h2><a href="https://twitter.com/kbjwes77">Personal Twitter</a></h2>
				<p>Game development, personal life, memes, etc</p><br>
				
				<h2><a href="https://twitter.com/orbitalGamedev">Gamedev Twitter</a></h2>
				<p>Game development only</p>
				
				<h2><a href="https://www.twitch.tv/orbitalgamedev">Twitch Channel</a></h2>
				<p>Watch me stream during the Ludum Dare and other game jams</p>
			</div>
		</div>
		$FOOTER
    </body>
</html>
